/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
.quiz-container{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.quiz-container p{
    margin: 0 0 14px 0;
}

.game-screen h1{
    font-weight: 100;
    font-size: 2em;
    text-transform: uppercase;
}

.game-screen h1 span{
    font-weight: 900;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.9em;
    line-height: 75px;
}

.question .txt{
    font-size: 1.6em;
}

.question .ans{
    font-size: 1.1em;
}

/*--------------------------------------------------------------
General Layout
--------------------------------------------------------------*/
body{
    margin: 0;
    background-color: #000;
}

.quiz-container{
    margin: 150px auto;
    width: 1103px;
    height: 621px;
    position: relative;
    overflow: hidden;
    color: #FFF;
    background: url("resources/marqueebackground.jpg") no-repeat 0 0;
    /*box-shadow: 10px -8px 300px 50px rgba(255,255,255,0.38);*/
}

.intro{
    display: inline-block;
    width:inherit;
    height: inherit;
}

.intro p{
    position: relative;
    top: 20%;
    left: -13.5%;
}

.intro img{
    position: relative;
    top: 15%;
    left: 17%;
}

.intro .btn{
    display: inline-block;
    cursor: pointer;
    background-color: #FF5952;
    color: #FFF;
    text-decoration: none;
    outline: none;
    padding: 7px 20px;
    border-radius: 6px;
}

.game-screen{
    display: block;
    height: 611px;
    width: 1250px;
    overflow: hidden;
}

.game-screen h1{
    margin: 0;
    position: absolute;
    top: 14%;
    left: -90%;
}

.game-screen h1 span{
    display: block;
    margin-left: -5px;
}

.game-screen img{
    position: absolute;
    top: 175%;
    left: -5%;
}

.game-screen hr{
    display: inline-block;
    position: absolute;
    top: -86%;
    left: 64.5%;
    width: 2px;
    height: 435px;
    background-color: #FFF;
    border: none;
}

.scoreboard{
    position: absolute;
    top: 15%;
    left: 172%;
    width: 10%;
}

.level{
    display: inline-block;
    width: 180px;
    border: 2px solid rgba(255,214,86,.7);
    border-radius: 100px;
    background: linear-gradient(to top, rgba(241,111,92,1) 0%, rgba(0,0,0,1) 0%, rgba(107,107,107,1) 100%);
    padding: 4.2px;
    text-align: center;
}

.level.complete{
    background: linear-gradient(to top, rgba(62,119,233,1) 0%, rgba(62,119,233,1) 72%, rgba(255,255,255,1) 100%);
}

.question{
    width: 550px;
    position: absolute;
    top: 40%;
    left: -90%;
}

.question .txt{
    margin: 0 0 20px 0;
}

.question .ans{
    display: inline-block;
    width: 225px;
    border: 2px solid rgba(255,214,86,.7);
    border-radius: 6px;
    padding: 10px;
    margin: 0 20px 20px 0;
    position: relative;
}

.question .ans.selected{
    border-color: #FF5952;
}

.question .ans.correct{
    border-color: #4FC775;
}

.question .ans::after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: no-repeat 0px 0px;
    background-size: 20px 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.question .ans.selected::after{
    background-image: url(resources/incorrect.png);
}

.question .ans.correct::after{
    background-image: url(resources/correct.png);
}

.question.unanswered .ans{
    cursor: pointer;
}

.question.unanswered .ans:hover{
    background-color: rgba(238, 189, 102,.2);
}

.question.answered .ans{
    cursor: default;
}

.question .feedback{
    color: #000;
    transition: opacity 1.5s;
    text-align: center;
    visibility: hidden;
    opacity: 0;
}

.question .feedback img{
    display: block;
    position: absolute;
    top: 110%;
    left: 0%;
}

.question .feedback .btn{
    position: absolute;
    top: 100%;
    left: 78%;
    display: inline-block;
    cursor: pointer;
    background-color: #FF5952;
    color: #FFF;
    text-decoration: none;
    outline: none;
    padding: 7px 15px;
    border-radius: 6px;
}

.question .feedback p{
    display: block;
    width: 25%;
    position: absolute;
    top: 127%;
    left: 9%;
}

.question.answered .feedback{
    visibility: visible;
    opacity: 1;
}

.win-screen{
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    visibility: hidden;
}

.win-screen p{
    position: relative;
    top: 20%;
    left: -11%;
}

.win-screen img{
    position: relative;
    top: 15%;
    left: 14%;
}

.win-screen .btn{
    display: inline-block;
    cursor: pointer;
    background-color: #FF5952;
    color: #FFF;
    text-decoration: none;
    outline: none;
    padding: 7px 20px;
    border-radius: 6px;
}

.lose-screen{
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    visibility: hidden;
}

.lose-screen p{
    position: relative;
    top: 20%;
    left: -11%;
}

.lose-screen img{
    position: relative;
    top: 15%;
    left: 14%;
}

.lose-screen .btn{
    display: inline-block;
    cursor: pointer;
    background-color: #FF5952;
    color: #FFF;
    text-decoration: none;
    outline: none;
    padding: 7px 20px;
    border-radius: 6px;
}

/*--------------------------------------------------------------
Game Animations
--------------------------------------------------------------*/
.quiz-container .active, .quiz-container .inactive{
    transition: 1.5s ease-in-out;
}

.intro.active{
    transform: scale(1);
}

.intro.inactive{
    transform: scale(0);
}

.quiz-container .question.unanswered.active{
    left: 10%;
}

.quiz-container .question.answered.active{
    left: 10%;
}

.quiz-container .question.answered.active .feedback{
    left: 9%;
}

.quiz-container .question.unanswered.active .feedback{
    left: 9%;
}

.quiz-container .scoreboard.active{
    left: 72%;
}

.quiz-container .game-screen.active > h1{
    transition: 1.5s ease-in-out;
    left: 10%;
}

.quiz-container .game-screen.done > h1{
    transition: 1.5s ease-in-out;
    left: -90%;
}

.quiz-container .game-screen.gameover > h1{
    transition: 1.5s ease-in-out;
    left: -90%;
}

.quiz-container .game-screen.active > img{
    transition: 1.5s ease-in-out;
    top: 75%;
}

.quiz-container .game-screen.done > img{
    top: 75%;
}

.quiz-container .game-screen.gameover > img{
    top: 75%;
}

.quiz-container .game-screen.active > hr{
    transition: 1.5s ease-in-out;
    top: 14%;
}

.quiz-container .game-screen.done > hr{
    top: 14%;
}

.quiz-container .game-screen.gameover > hr{
    top: 14%;
}

.win-screen.active{
    transform: scale(1);
    visibility: visible;
}

.win-screen.inactive{
    transform: scale(0);
}

.lose-screen.active{
    transform: scale(1);
    visibility: visible;
}

.lose-screen.inactive{
    transform: scale(0);
}
